* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato;
  background: linear-gradient(180deg, #3f4452, #26282c);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f5f6f8;
  min-height: 100vh;
}

a {
  color: #22e0db;
  text-decoration: none;
}

@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Bold.ttf');
  font-weight: 700;
  font-display: block;
}

#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 25px;
  width: 25px;
}
